<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${movimientoForm}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<div id="itemsEditarContainer">
					<div th:fragment="itemsEditar">
						<form th:action="@{/movimiento/form}"
							th:object="${movimientoForm}" method="POST"
							enctype="multipart/form-data">

							<div class="form-group row movimientoFila"
								th:id="'movimientoFila_' + ${stat.index}"
								th:each="row, stat : ${movimientoForm.movimientos}">
								<div class="col-sm-2">
									<input type="date"
										th:field="*{movimientos[__${stat.index}__].fecha}"
										class="form-control"
										th:errorClass="'form-control alert-danger'" />
									<input type="hidden" th:id="movimientosDC + __${stat.index}__"
										th:name="movimientosDC + __${stat.index}__" value="{DC}" />
								</div>
								<div class="col-sm-2">
									<select th:field="*{movimientos[__${stat.index}__].idFuente}"
										class="form-control"
										th:errorClass="'form-control alert-danger'">
										<option th:each="entry : ${fuentes.entrySet()}"
											th:value="${entry.key}" th:utext="${entry.value}"></option>
									</select>
								</div>
								<div class="col-sm-2">
									<select
										th:field="*{movimientos[__${stat.index}__].idCategoria}"
										class="form-control idCategoria"
										th:errorClass="'form-control alert-danger'"
										th:onchange="'itemsHelper.cambioCategoria(' + *{movimientos[__${stat.index}__].id} + ');'">
										<option th:each="entry : ${categorias.entrySet()}"
											th:value="${entry.key}" th:utext="${entry.value}"></option>
									</select>
								</div>
								<div class="col-sm-2">
									<input type="text"
										th:field="*{movimientos[__${stat.index}__].descripcion}"
										class="form-control"
										th:errorClass="'form-control alert-danger'" />
								</div>
								<div class="col-sm-2">
									<input type="number"
										th:field="*{movimientos[__${stat.index}__].valor}"
										th:onkeydown="'itemsHelper.calculoTotal();'"
										th:onchange="'itemsHelper.calculoTotal();'"
										class="form-control valor"
										th:errorClass="'form-control alert-danger'" />
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-danger btn-xs"
										th:onclick="'itemsHelper.eliminarLinea(' + *{movimientos[__${stat.index}__].id} + ');'">X</a>
								</div>
							</div>
							<input type="hidden" name="idEliminar" id="idEliminar"/>
							<div class="form-group row">
								<div class="col-sm-8">
									<input type="submit" th:value="#{text.register.enviar}"
										class="form-control btn btn-secondary" />
								</div>
								<div class="col-sm-2">
									<input type="number"
										name ="total" id ="total" disabled="disabled"
										class="form-control"/>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary btn-xs"
										onclick="itemsHelper.agregarLinea();">+</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript">
		$(document).ready(function() {
			itemsHelper.refrescarCampos();
		});
		
		
		var itemsHelper = {
			agregarLinea : function() {
				var json = $("form").serialize();

				$.ajax({
					url : "/movimiento/agregarLinea",
					data : json,
					type : "POST",

					success : function(data) {
						$("#itemsEditarContainer").html(data);
						itemsHelper.refrescarCampos();
					},
					error: function(jqXHR,textStatus,error){
						console.log("Error llamando a /movimiento/agregarLinea jqXHR[" + jqXHR + "]textStatus["+ textStatus + "]error[" + error + "]");
					}
				});
			},

			eliminarLinea : function(id) {
				
				$("#idEliminar").attr("value",id);
				var json = $("form").serialize();

				$.ajax({
					url : "/movimiento/quitarLinea",
					data : json,
					type : "POST",

					success : function(data) {
						$("#itemsEditarContainer").html(data);
						itemsHelper.refrescarCampos();
					},
					error: function(jqXHR,textStatus,error){
						console.log("Error llamando a /movimiento/quitarLinea jqXHR[" + jqXHR + "]textStatus["+ textStatus + "]error[" + error + "]");
					}
				});
			},
			
			refrescarCampos : function(){
				$(".movimientoFila").each(function(){
					var id = $(this).attr("id").replace("movimientoFila_","");
					itemsHelper.cambioCategoria(id);
				}) ;
			},
			
			cambioCategoria: function(id){
				var categoriaId = $("#movimientos" + id + "\\.idCategoria").val();
				$.ajax({
					url : "/movimiento/tipoCategoria/" + categoriaId,
					dataType : 'text',
					type : 'GET',
					success : function(data) {
						$("#movimientosDC" + id).attr("value",data);
						itemsHelper.calculoTotal();
					},
					error: function(jqXHR,textStatus,error){
						console.log("Error llamando a /movimiento/tipoCategoria/" + categoriaId + " jqXHR[" + jqXHR + "]textStatus["+ textStatus + "]error[" + error + "]");
					}
				});
				
			},
			
			calculoTotal: function (){
				var total = 0;
				$(".valor").each(function(){
					var id= $(this).attr("id").replace("movimientos","").replace(".valor","");
					console.log("Tipo " + $("#movimientosDC" + id).val());
					console.log("Valor " + $(this).val());
					total += ($("#movimientosDC" + id).val() == 'C' ? -1 : 1) * $(this).val();
				});
				
				$("#total").val(total);
			}

		};
	</script>
</body>
</html>