<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--  
	<div th:fragment="itemsAgregar" class="d-none">
		<div id="movimientosFila">
			<div class="form-group row" id="movimientoFila_{FILA}">
				<div class="col-sm-2">
					<input type="date" class="form-control"
						id="movimientos{FILA}.fecha" name="movimientos[{FILA}].fecha" />
					<input type="hidden" id="movimientos{FILA}.id"
						name="movimientos[{FILA}].id" value="{FILA}" /> <input
						type="hidden" name="movimientosDC{FILA}" value="{DC}" />
				</div>
				<div class="col-sm-2">
					<input type="number" class="form-control"
						id="movimientos{FILA}.valor" name="movimientos[{FILA}].valor" />
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control"
						id="movimientos{FILA}.descripcion"
						name="movimientos[{FILA}].descripcion" />
				</div>
				<div class="col-sm-2">
					<select class="form-control" id="movimientos{FILA}.idFuente"
						name="movimientos[{FILA}].idFuente">
						<option th:each="entry : ${fuentes.entrySet()}"
							th:value="${entry.key}" th:utext="${entry.value}"></option>
					</select>
				</div>
				<div class="col-sm-2">
					<select class="form-control" id="movimientos{FILA}.idCategoria"
						name="movimientos[{FILA}].idCategoria">
						<option th:each="entry : ${categorias.entrySet()}"
							th:value="${entry.key}" th:utext="${entry.value}"></option>
					</select>
				</div>
				<div class="col-sm-2">
					<a href="#" class="btn btn-danger btn-xs"
						onclick="itemsHelper.eliminarLinea({FILA});">X</a>
				</div>
			</div>
		</div>
	</div>-->


</body>
</html>