<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${tableroForm}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/tablero/form}" th:object="${tableroForm}"
					method="POST" enctype="multipart/form-data">
					<div class="form-group row">
						<div class="col-sm-4">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<select th:field="*{tipoConsulta}" class="form-control"
										th:errorClass="'form-control alert-danger'">
										<option value="1" th:text="#{text.tablero.todo}">
										<option value="2" th:text="#{text.tablero.mes}">
										<option value="3" th:text="#{text.tablero.ano}">
									</select>
								</div>
								<input type="date" th:field="*{fecha}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
							</div>
						</div>
						<div class="col-sm-3">
							<select th:field="*{idFuente}" class="form-control"
								th:errorClass="'form-control alert-danger'">
								<option th:text="#{text.tablero.seleccioneFuente}" th:value="''"></option>
								<option th:each="entry : ${fuentes.entrySet()}"
									th:value="${entry.key}" th:utext="${entry.value}"></option>
							</select>
						</div>
						<div class="col-sm-3">
							<select th:field="*{idCategoria}" class="form-control"
								th:errorClass="'form-control alert-danger'">
								<option th:text="#{text.tablero.seleccioneCategoria}"
									th:value="''"></option>
								<option th:each="entry : ${categorias.entrySet()}"
									th:value="${entry.key}" th:utext="${entry.value}"></option>
							</select>
						</div>
						<div class="col-sm-2">
							<input type="submit" th:value="#{text.register.enviar}"
								class="form-control btn btn-secondary" />
						</div>
					</div>
				</form>

				<div th:if="${tableroForm.movimientoResumen}"
					th:object="${tableroForm}">
					<div class="jumbotron jumbotron-fluid">
						<div class="container">
							<h1 class="display-4" align="center"
								th:text="'$ ' + *{valorTotal}"></h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-12" id="graficoAhorros"></div>
						<div class="col-lg-6 col-sm-12" id="graficoCategorias"
							style="height: 30em;"></div>
					</div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th th:text="#{text.tablero.nombre}">Nombre</th>
								<th th:text="#{text.tablero.ingresos}">Ingresos</th>
								<th th:text="#{text.tablero.egresos}">Egresos</th>
								<th th:text="#{text.tablero.total}">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="fuente : *{fuenteResumen}">
								<td th:text="${fuente.nombre}"></td>
								<td th:text="${fuente.ingresos}"></td>
								<td th:text="${fuente.egresos}"></td>
								<td th:text="${fuente.ingresos} - ${fuente.egresos}"></td>
							</tr>
						</tbody>
					</table>

					<table class="table table-striped">
						<thead>
							<tr>
								<th th:text="#{text.tablero.fecha}">Fecha</th>
								<th th:text="#{text.tablero.categoria}">Categoria</th>
								<th th:text="#{text.tablero.fuente}">Fuente</th>
								<th th:text="#{text.tablero.descripcion}">Descripcion</th>
								<th th:text="#{text.tablero.valor}">Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="movimiento : *{movimientoResumen}">
								<td th:text="${movimiento.fecha}"></td>
								<td th:text="${movimiento.categoria}"></td>
								<td th:text="${movimiento.fuente}"></td>
								<td th:text="${movimiento.descripcion}"></td>
								<td th:text="${movimiento.valor}"></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/loader.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function() {

			google.charts.load('current', {
				'packages' : [ 'corechart' ]
			});
			/*[# th:if="${tableroForm.graficoCategorias != null}"]*/
			google.charts.setOnLoadCallback(graficoCategorias);
			/*[/]*/
			/*[# th:if="${tableroForm.graficoAhorros != null}"]*/
			google.charts.setOnLoadCallback(graficoAhorros);
			/*[/]*/
		});

		function graficoCategorias() {
			var data = [ [ "Categoria", "Valor" ] ];
			var yValue;
			var label;
			/*[# th:each="dataPoint : ${tableroForm.graficoCategorias} "]*/
			yValue = parseFloat(/*[[${dataPoint.value}]]*/0);
			label = /*[[${dataPoint.key}]]*/"";
			data.push([ label, yValue ]);
			/*[/]*/

			data = google.visualization.arrayToDataTable(data);

			var options = {
				title : "Categorias",
				legend : {
					position : "bottom"
				}
			};

			var chart = new google.visualization.PieChart(document
					.getElementById("graficoCategorias"));

			chart.draw(data, options);
		}

		function graficoAhorros() {
			var data = [ [ "Fecha", "Valor","Total" ] ];
			var yValue;
			var label;
			var total;
			
			total = 0;
			/*[# th:each="dataPoint : ${tableroForm.graficoAhorros} "]*/
			yValue = parseFloat(/*[[${dataPoint.value}]]*/0);
			label = /*[[${dataPoint.key}]]*/"";
			total += yValue
			data.push([ label, yValue, total ]);
			/*[/]*/

			data = google.visualization.arrayToDataTable(data);

			var options = {
				title : "Ahorros",
				legend : {
					position : "bottom"
				}
			};

			var chart = new google.visualization.LineChart(document
					.getElementById("graficoAhorros"));

			chart.draw(data, options);
		}

		/*]]>*/
	</script>
</body>
<!-- https://stackoverflow.com/questions/41352424/thymeleaf-foreach-loop-in-javascript
 https://stackoverflow.com/questions/31771821/thymeleaf-how-to-add-conditional-block-in-javascript -->